.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.page-header {
    color: #424242;
    font-family: 'Montserrat', sans-serif !important;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
