table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}
table tr:nth-child(odd) {
    background-color: greenyellow;
}
table tr:nth-child(even) {
    background-color: white;
}
